<div class="flex-col w-auto h-footer bg-white absolute inset-x-0 bottom-0 border">
  <div class="flex flex-row justify-around items-center mt-8">
    <div>
      <h2 class="text-logo font-bold">Busmon</h2>
    </div>
    <div class="flex">
      <p class="mr-12 text-secondblack">Dashboard</p>
      <p class="text-secondblack">Profile</p>
    </div>
    <div class="w-space">
    </div>
  </div>
  <div class="flex mt-4 justify-center font-link font-normal text-grey">
    <p>©Busmon 2021. All rights are reserved</p>
    <pre> | </pre>
    <p>Terms of use</p>
    <pre> | </pre>
    <p>Privacy Policy</p>
  </div>
</div>


