<div class="flex flex-row justify-around w-auto h-header bg-white items-center border">
  <div>
    <h2 class="text-logo font-bold">Busmon</h2>
  </div>
  <div class="flex">
    <p class="mr-12 text-secondblack">Dashboard</p>
    <p class="text-secondblack">Profile</p>
  </div>
  <div class="actions">
    <a href="sign_in", class="bg-main hover:bg-green-600 text-white py-2 px-4 mt-4 rounded-full w-full focus:outline-none focus:shadow-outline text-link">LOG IN</a>
  </div>
</div>
